.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spinner {
  margin: 0 auto;
}